h1{
    font-size: $xxxxx-large;
    font-weight: $letra_bold;
}

h2{
    font-size: $xxxx-large;
    font-weight: $letra_bold;
}

h3{
    font-size: $xx-large;
    font-weight: $letra_bold;
}

h4{
    font-size: $x-large;
    font-family: $open-sans;
}

h5{
    font-size: $xxx-large;
    font-weight: $letra_bold;
}

.ty_card{
    font-family: $open-sans;
    font-size: $medium;
}

a, small{
    font-size: $medium;
    text-decoration: none;
    color: $raisin-black;
}