.container,
.container-fluid{
    .row{
        border: 2px solid lighten($black, 50%);
        display: grid;
        padding: 5px;
        //define el número de grillas repeat(numero de columnas, ancho 1fr = 1fracción)  
        grid-template-columns: repeat($number-columns, 1fr);
        grid-gap: 10px 10px;
    }
}