/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

.container-fluid {
  width: 100vw;
}

.container .row,
.container-fluid .row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.container .row .col-1,
.container-fluid .row .col-1 {
  grid-column: span 1;
}
.container .row .col-2,
.container-fluid .row .col-2 {
  grid-column: span 2;
}
.container .row .col-3,
.container-fluid .row .col-3 {
  grid-column: span 3;
}
.container .row .col-4,
.container-fluid .row .col-4 {
  grid-column: span 4;
}
.container .row .col-5,
.container-fluid .row .col-5 {
  grid-column: span 5;
}
.container .row .col-6,
.container-fluid .row .col-6 {
  grid-column: span 6;
}
.container .row .col-7,
.container-fluid .row .col-7 {
  grid-column: span 7;
}
.container .row .col-8,
.container-fluid .row .col-8 {
  grid-column: span 8;
}
.container .row .col-9,
.container-fluid .row .col-9 {
  grid-column: span 9;
}
.container .row .col-10,
.container-fluid .row .col-10 {
  grid-column: span 10;
}
.container .row .col-11,
.container-fluid .row .col-11 {
  grid-column: span 11;
}
.container .row .col-12,
.container-fluid .row .col-12 {
  grid-column: span 12;
}
@media screen and (min-width: 576px) {
  .container .row .col-sm-1,
.container-fluid .row .col-sm-1 {
    grid-column: span 1;
  }
  .container .row .col-sm-2,
.container-fluid .row .col-sm-2 {
    grid-column: span 2;
  }
  .container .row .col-sm-3,
.container-fluid .row .col-sm-3 {
    grid-column: span 3;
  }
  .container .row .col-sm-4,
.container-fluid .row .col-sm-4 {
    grid-column: span 4;
  }
  .container .row .col-sm-5,
.container-fluid .row .col-sm-5 {
    grid-column: span 5;
  }
  .container .row .col-sm-6,
.container-fluid .row .col-sm-6 {
    grid-column: span 6;
  }
  .container .row .col-sm-7,
.container-fluid .row .col-sm-7 {
    grid-column: span 7;
  }
  .container .row .col-sm-8,
.container-fluid .row .col-sm-8 {
    grid-column: span 8;
  }
  .container .row .col-sm-9,
.container-fluid .row .col-sm-9 {
    grid-column: span 9;
  }
  .container .row .col-sm-10,
.container-fluid .row .col-sm-10 {
    grid-column: span 10;
  }
  .container .row .col-sm-11,
.container-fluid .row .col-sm-11 {
    grid-column: span 11;
  }
  .container .row .col-sm-12,
.container-fluid .row .col-sm-12 {
    grid-column: span 12;
  }
}
@media screen and (min-width: 768px) {
  .container .row .col-md-1,
.container-fluid .row .col-md-1 {
    grid-column: span 1;
  }
  .container .row .col-md-2,
.container-fluid .row .col-md-2 {
    grid-column: span 2;
  }
  .container .row .col-md-3,
.container-fluid .row .col-md-3 {
    grid-column: span 3;
  }
  .container .row .col-md-4,
.container-fluid .row .col-md-4 {
    grid-column: span 4;
  }
  .container .row .col-md-5,
.container-fluid .row .col-md-5 {
    grid-column: span 5;
  }
  .container .row .col-md-6,
.container-fluid .row .col-md-6 {
    grid-column: span 6;
  }
  .container .row .col-md-7,
.container-fluid .row .col-md-7 {
    grid-column: span 7;
  }
  .container .row .col-md-8,
.container-fluid .row .col-md-8 {
    grid-column: span 8;
  }
  .container .row .col-md-9,
.container-fluid .row .col-md-9 {
    grid-column: span 9;
  }
  .container .row .col-md-10,
.container-fluid .row .col-md-10 {
    grid-column: span 10;
  }
  .container .row .col-md-11,
.container-fluid .row .col-md-11 {
    grid-column: span 11;
  }
  .container .row .col-md-12,
.container-fluid .row .col-md-12 {
    grid-column: span 12;
  }
}
@media screen and (min-width: 992px) {
  .container .row .col-lg-1,
.container-fluid .row .col-lg-1 {
    grid-column: span 1;
  }
  .container .row .col-lg-2,
.container-fluid .row .col-lg-2 {
    grid-column: span 2;
  }
  .container .row .col-lg-3,
.container-fluid .row .col-lg-3 {
    grid-column: span 3;
  }
  .container .row .col-lg-4,
.container-fluid .row .col-lg-4 {
    grid-column: span 4;
  }
  .container .row .col-lg-5,
.container-fluid .row .col-lg-5 {
    grid-column: span 5;
  }
  .container .row .col-lg-6,
.container-fluid .row .col-lg-6 {
    grid-column: span 6;
  }
  .container .row .col-lg-7,
.container-fluid .row .col-lg-7 {
    grid-column: span 7;
  }
  .container .row .col-lg-8,
.container-fluid .row .col-lg-8 {
    grid-column: span 8;
  }
  .container .row .col-lg-9,
.container-fluid .row .col-lg-9 {
    grid-column: span 9;
  }
  .container .row .col-lg-10,
.container-fluid .row .col-lg-10 {
    grid-column: span 10;
  }
  .container .row .col-lg-11,
.container-fluid .row .col-lg-11 {
    grid-column: span 11;
  }
  .container .row .col-lg-12,
.container-fluid .row .col-lg-12 {
    grid-column: span 12;
  }
}
@media screen and (min-width: 1200px) {
  .container .row .col-lg-1,
.container-fluid .row .col-lg-1 {
    grid-column: span 1;
  }
  .container .row .col-lg-2,
.container-fluid .row .col-lg-2 {
    grid-column: span 2;
  }
  .container .row .col-lg-3,
.container-fluid .row .col-lg-3 {
    grid-column: span 3;
  }
  .container .row .col-lg-4,
.container-fluid .row .col-lg-4 {
    grid-column: span 4;
  }
  .container .row .col-lg-5,
.container-fluid .row .col-lg-5 {
    grid-column: span 5;
  }
  .container .row .col-lg-6,
.container-fluid .row .col-lg-6 {
    grid-column: span 6;
  }
  .container .row .col-lg-7,
.container-fluid .row .col-lg-7 {
    grid-column: span 7;
  }
  .container .row .col-lg-8,
.container-fluid .row .col-lg-8 {
    grid-column: span 8;
  }
  .container .row .col-lg-9,
.container-fluid .row .col-lg-9 {
    grid-column: span 9;
  }
  .container .row .col-lg-10,
.container-fluid .row .col-lg-10 {
    grid-column: span 10;
  }
  .container .row .col-lg-11,
.container-fluid .row .col-lg-11 {
    grid-column: span 11;
  }
  .container .row .col-lg-12,
.container-fluid .row .col-lg-12 {
    grid-column: span 12;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #221D23;
  line-height: 1.5;
  font-size: 14px;
}

h1 {
  font-size: 45px;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  font-weight: 700;
}

h3 {
  font-size: 35px;
  font-weight: 700;
}

h4 {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}

h5 {
  font-size: 35px;
  font-weight: 700;
}

.ty_card {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

a, small {
  font-size: 16px;
  text-decoration: none;
  color: #221D23;
}

.cabecera {
  padding: 4vh 8vw 7vh 8vw;
}
.cabecera__logo {
  display: inline-block;
  width: 40vw;
  margin: 0;
}
.cabecera__ul {
  display: none;
}
.cabecera__button {
  display: inline-block;
  width: 40vw;
  text-align: right;
}

@media screen and (min-width: 576px) {
  .cabecera {
    display: flex;
  }
  .cabecera__logo {
    display: inline-block;
    width: 4vw;
    margin: 0;
  }
  .cabecera__ul {
    display: initial;
    width: 95vw;
    padding-top: 2vh;
  }
  .cabecera__ul li {
    display: inline-block;
    padding-left: 3vw;
  }
  .cabecera__button {
    display: none;
  }
}
.presentacion {
  background-image: url("../img/bg-hero.svg");
  background-size: cover;
  height: 140vh;
  background-position-x: 80%;
}
.presentacion__text {
  padding: 0 10vw 0 10vw;
  text-align: justify;
}

@media screen and (min-width: 576px) {
  .presentacion {
    height: 110vh;
    background-position-x: center;
  }
  .presentacion__text {
    width: 40%;
    padding: 0 8vw 0 8vw;
    text-align: justify;
  }
  .presentacion__text-lh {
    line-height: 2;
  }
}
.caracteristicas {
  padding-bottom: 10vh;
}
.caracteristicas h2 {
  text-align: center;
  padding-bottom: 5vh;
}
.caracteristicas__content {
  padding-top: 5vh;
}
.caracteristicas__content__text {
  padding-left: 12vw;
  padding-right: 10vw;
}
.caracteristicas__content__text h3 {
  padding-bottom: 2vh;
}

@media screen and (min-width: 576px) {
  .caracteristicas__content {
    padding-top: 5vh;
  }
  .caracteristicas__content__text {
    padding: 0;
  }
  .caracteristicas__content__text p {
    width: 27vw;
  }
}
.precios {
  background-image: url("../img/bg-price.svg");
  background-size: cover;
  padding-bottom: 7vh;
}
.precios__h2 {
  padding: 30vh 8vw 2vh 8vw;
  color: #fff;
  text-align: center;
}
.precios__article {
  background-color: #fff;
  border: solid 2px #726F73;
  width: 80vw;
  margin: 8vh auto;
  padding: 10vh 8vw;
}
.precios__article__text {
  border-top: solid 1px #333745;
  border-bottom: solid 1px #333745;
  padding: 6vh 0;
}
.precios__article__text p {
  padding-bottom: 3vh;
}
.precios__article__text-padding {
  padding-bottom: 15vh;
}
.precios__article h5 {
  padding-bottom: 4vh;
}

@media screen and (min-width: 576px) {
  .precios__article {
    width: 30vw;
    height: 80vh;
    padding: 5vh 4vw;
  }
  .precios__article-left {
    margin-right: 5vw;
  }
  .precios__article-right {
    margin-left: 5vw;
  }
}
.footer {
  background-color: #221D23;
  text-align: center;
  padding: 7vh 8vw;
}
.footer ul li {
  display: inline-block;
  padding-bottom: 4vh;
  padding-right: 4vw;
}
.footer ul li a {
  color: #fff;
}
.footer small {
  color: #fff;
}

@media screen and (min-width: 576px) {
  .footer {
    text-align: left;
  }
  .footer ul {
    display: inline-block;
  }
  .footer small {
    float: right;
  }
}
.precios__buttons {
  text-align: center;
}
.precios__buttons__boton {
  background-color: #2AB7CA;
  margin-top: 5vh;
  text-align: center;
  padding: 3vh 0;
  width: 95%;
}
.precios__buttons__boton a {
  color: #fff;
  font-weight: 700;
}

.cabecera__ul__button {
  font-family: "Raleway", sans-serif;
  margin-right: 2vw;
  background-color: #2AB7CA;
  padding: 1vh 1vw;
}
.cabecera__ul__button a {
  color: #fff;
  font-weight: 700;
}
.cabecera__ul__button-primero {
  margin-left: 35vw;
  background-color: #fff;
  border: none;
  padding: 0;
}
.cabecera__ul__button-primero a {
  color: #221D23;
  font-weight: 400;
}

svg {
  transform: scale(0.8);
}

@keyframes aparecer {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
.caracteristicas__content__svg {
  animation: aparecer 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@media screen and (min-width: 576px) {
  .caracteristicas__content__svg {
    padding-left: 23vw;
  }
}
@media screen and (min-width: 576px) {
  svg {
    transform: scale(1);
  }
}

/*# sourceMappingURL=main.css.map */
