.caracteristicas{
    padding-bottom: 10vh;

    h2{
        text-align: center;
        padding-bottom: 5vh;
    }

    &__content{
        padding-top: 5vh; 
    

        &__text{

            padding-left: 12vw;
            padding-right: 10vw;

            h3{
                padding-bottom: 2vh;
            }
        }

    }
}

@media screen and (min-width: $viewport-small) {
    .caracteristicas{

        &__content{
            padding-top: 5vh; 
            
            &__text{

                padding: 0;
                p{
                    width: 27vw;
                }
            }

        }
    }
}